Repository Alt-Org/Altzone, pull requests merged in 2025-06, with the labels that each got.

#715 Battle/feature - Love projectile
  Assets/QuantumUser/Simulation/Battle/Qtn/Game/BattleSignals.qtn
  Assets/QuantumUser/Simulation/Battle/Scripts/Projectile/BattleProjectileQSystem.cs
  Assets/QuantumUser/Simulation/Generated/Quantum.CodeGen.Core.cs
  Assets/QuantumUser/View/Battle/Scripts/Projectile/BattleProjectileViewController.cs
Labels: Quantum, battle

#724 Alt/feature - Battle CharacterSpec and BattleLink
  Assets/Altzone/Editor/CustomEditors/CharacterSpecEditor.cs
  Assets/Altzone/Scripts/ApplicationController.cs
  Assets/Altzone/Scripts/Battle/AltzoneBattleLink.cs
  Assets/Altzone/Scripts/Battle/AltzoneBattleLink.cs.meta
  Assets/Altzone/Scripts/ModelV2/Internal/CharacterSpec.cs
  Assets/Altzone/Scripts/ModelV2/PlayerCharacterPrototype.cs
  Assets/QuantumUser/Simulation/Battle/Scripts/Game/BattleAltzoneLink.cs
  Assets/QuantumUser/Simulation/Battle/Scripts/Game/BattleAltzoneLink.cs.meta
Labels: battle

#733 Battle/feature - Setting for debug stats overlay
  Assets/Altzone/Scripts/Settings/SettingsCarrier.cs
  Assets/QuantumUser/View/Battle/Scripts/Game/BattleGameViewController.cs
Labels: battle

#744 Battle/feature Player hitbox update
  Assets/QuantumUser/Resources/Prefabs/Player/BattlePlayer.prefab
  Assets/QuantumUser/Simulation/Battle/Qtn/Player/BattlePlayerData.qtn
  Assets/QuantumUser/Simulation/Battle/Scripts/Player/BattlePlayerManager.cs
  Assets/QuantumUser/Simulation/Battle/Scripts/Player/BattlePlayerMovementController.cs
  Assets/QuantumUser/Simulation/Generated/Quantum.CodeGen.Core.cs
  Assets/QuantumUser/Simulation/Generated/Quantum.CodeGen.Prototypes.cs
  Assets/QuantumUser/View/Generated/Quantum.CodeGen.UnityPrototypeAdapters.cs
Labels: Quantum, battle

#740 UI/settings/feature/parental conrol
  Assets/Altzone/Scripts/Settings/SettingsCarrier.cs
  Assets/MenuUi/Prefabs/Panels/UIOverlayPanel.prefab
  Assets/MenuUi/Prefabs/Windows/Settings/SettingsView.prefab
  Assets/MenuUi/Scripts/FpsLocker/FpsLock30.cs
  Assets/MenuUi/Scripts/Settings/BattleManager.cs
  Assets/MenuUi/Scripts/Settings/BattleManager.cs.meta
  Assets/MenuUi/Scripts/Settings/FPSSettingHandler.cs
  Assets/MenuUi/Scripts/Settings/FPSSettingHandler.cs.meta
  Assets/MenuUi/Scripts/Settings/GameTimeManager.cs
  Assets/MenuUi/Scripts/Settings/GameTimeManager.cs.meta
  Assets/MenuUi/Scripts/Settings/ParentalControlManager.cs
  Assets/MenuUi/Scripts/Settings/ParentalControlManager.cs.meta
  Assets/MenuUi/Scripts/Settings/SettingEditor.cs
  Assets/MenuUi/Scripts/Settings/SettingsPopup.cs
  Assets/MenuUi/Scripts/Settings/SettingsPopup.cs.meta
  Assets/MenuUi/Scripts/Settings/TextFieldSetting.cs
  Assets/MenuUi/Scripts/Settings/TextFieldSetting.cs.meta
  Assets/MenuUi/Scripts/Settings/ToggleSetting.cs
  Assets/MenuUi/Scripts/Settings/ToggleSetting.cs.meta
  Assets/MenuUi/Scripts/Settings/TopBarSelector.cs
  Assets/MenuUi/Scripts/Settings/TopBarSelector.cs.meta
Labels: käyttöliittymä

#754 Battle/feature - Debug stats text scaling
  Assets/Altzone/Resources/Prefabs/BattleUiShared/BattleUiTimer.prefab
  Assets/Altzone/Scripts/BattleUiShared/TextScaler.cs
  Assets/QuantumUser/Resources/Prefabs/Ui/BattleUi.prefab
Labels: battle, UI/UX

#759 Battle/refactor - Startup info
  Assets/QuantumUser/Resources/Prefabs/Ui/BattleUi.prefab
  Assets/QuantumUser/Simulation/Battle/Qtn/Game/BattleEvents.qtn
  Assets/QuantumUser/Simulation/Battle/Scripts/Player/BattlePlayerManager.cs
  Assets/QuantumUser/Simulation/Generated/Quantum.CodeGen.Core.cs
  Assets/QuantumUser/Simulation/Generated/Quantum.CodeGen.Events.cs
  Assets/QuantumUser/View/Battle/Scripts/Game/BattleGameViewController.cs
  Assets/QuantumUser/View/Battle/Scripts/UI/BattleUiAnnouncementHandler.cs
Labels: Quantum, battle
