Repository Alt-Org/Altzone, pull requests merged in 2025-10, with the labels that each got.

#643 Battle/feature - Bots
  Assets/QuantumUser/Resources/Configs/BattleQConfig.asset
  Assets/QuantumUser/Resources/QuantumMap.asset
  Assets/QuantumUser/Resources/Specs/BattlePlayerBotQSpec.asset
  Assets/QuantumUser/Resources/Specs/BattlePlayerBotQSpec.asset.meta
  Assets/QuantumUser/Scenes/31-QuantumBattle.unity
  Assets/QuantumUser/Simulation/Battle/Qtn/Player/BattlePlayerData.qtn
  Assets/QuantumUser/Simulation/Battle/Qtn/Player/BattlePlayerManagerData.qtn
  Assets/QuantumUser/Simulation/Battle/Qtn/Projectile/BattleProjectile.qtn
  Assets/QuantumUser/Simulation/Battle/Scripts/Game/BattleQConfig.cs
  Assets/QuantumUser/Simulation/Battle/Scripts/Player/BattlePlayerBotController.cs
  Assets/QuantumUser/Simulation/Battle/Scripts/Player/BattlePlayerBotController.cs.meta
  Assets/QuantumUser/Simulation/Battle/Scripts/Player/BattlePlayerBotQSpec.cs
  Assets/QuantumUser/Simulation/Battle/Scripts/Player/BattlePlayerBotQSpec.cs.meta
  Assets/QuantumUser/Simulation/Battle/Scripts/Player/BattlePlayerManager.cs
  Assets/QuantumUser/Simulation/Battle/Scripts/Player/BattlePlayerMovementController.cs
  Assets/QuantumUser/Simulation/Battle/Scripts/Player/BattlePlayerQSystem.cs
  Assets/QuantumUser/Simulation/Battle/Scripts/Projectile/BattleProjectileQSystem.cs
  Assets/QuantumUser/Simulation/Generated/Quantum.CodeGen.Core.cs
  Assets/QuantumUser/Simulation/Generated/Quantum.CodeGen.Prototypes.cs
  Assets/QuantumUser/View/Generated/Quantum.CodeGen.UnityPrototypeAdapters.cs
Labels: Quantum, battle

#904 Battle/feature - "Sielunsisaruus" Character
  Assets/QuantumUser/Resources/Prefabs/Player/BattlePlayer601Character.prefab
  Assets/QuantumUser/Simulation/Battle/Scripts/Player/BattlePlayerClassManager.cs
  Assets/QuantumUser/Simulation/Battle/Scripts/Player/PlayerClasses/BattlePlayerClassConfluent.cs
  Assets/QuantumUser/Simulation/Battle/Scripts/Player/PlayerClasses/BattlePlayerClassConfluent.cs.meta
  Assets/QuantumUser/Simulation/Battle/Scripts/Projectile/BattleProjectileQSystem.cs
  Doc/Doxygen/Battle/additional-documentation/pages/wip-concepts-playerclass-.md
  Doc/Doxygen/Battle/additional-documentation/pages/wip-concepts-playerclass-confluent.md
Labels: Quantum, battle

#902 Added 1 MainMenu & 1 Battle Music Tracks
  Assets/Altzone/Resources/Audio/MusicDataReference.asset
  Assets/MenuUi/Audio/Sielunkoti/Jukebox/JukeboxVision.mp3
  Assets/MenuUi/Audio/Sielunkoti/Jukebox/JukeboxVision.mp3.meta
  Assets/QuantumUser/Resources/Audio/Music/BattleBackgroundMusicNew.mp3
  Assets/QuantumUser/Resources/Audio/Music/BattleBackgroundMusicNew.mp3.meta
Labels: äänet

#907 UI/task - Lobby visual update
  Assets/Altzone/Resources/Characters/ClassReference.asset
  Assets/Altzone/Scripts/Reference Sheets/ClassReference.cs
  Assets/MenuUi/Prefabs/UI Components/Battle Popup.prefab
  Assets/MenuUi/Prefabs/UI Components/Battle Popup/BattlePopupSelectedCharacter.prefab
  Assets/MenuUi/Prefabs/UI Components/Battle Popup/SelectedCharacters.prefab
  Assets/MenuUi/Resources/PiechartReference.asset
  Assets/MenuUi/Scripts/Lobby/InRoom/InRoomController.cs
  Assets/MenuUi/Scripts/Lobby/InRoom/RoomSetupManager.cs
  Assets/MenuUi/Scripts/Lobby/SelectedCharacters/BattlePopupCharacterSlotController.cs
  Assets/MenuUi/Scripts/Lobby/SelectedCharacters/BattlePopupCharacterSlotController.cs.meta
  Assets/MenuUi/Scripts/Lobby/SelectedCharacters/BattlePopupSelectedCharacter.cs
Labels: käyttöliittymä

#900 Adjust DefenceView layout and EditStats-button placement
  Assets/Altzone/Resources/Characters/CharacterSpec_102.asset
  Assets/Altzone/Resources/Characters/CharacterSpec_103.asset
  Assets/Altzone/Resources/Characters/CharacterSpec_201.asset
  Assets/Altzone/Resources/Characters/CharacterSpec_202.asset
  Assets/Altzone/Resources/Characters/CharacterSpec_402.asset
  Assets/Altzone/Resources/Characters/CharacterSpec_601.asset
  Assets/Altzone/Resources/Characters/CharacterSpec_602.asset
  Assets/Altzone/Resources/Characters/CharacterSpec_603.asset
  Assets/Altzone/Resources/Characters/CharacterSpec_703.asset
  Assets/MenuUi/Graphics/DailyQuestGraphics/DailyTaskSocialDesicionMaking.png.meta
  Assets/MenuUi/Prefabs/DefenceScreen/CharacterGallery/CharacterInventorySlot.prefab
  Assets/MenuUi/Prefabs/DefenceScreen/CharacterGallery/SelectedCharSlot.prefab
  Assets/MenuUi/Prefabs/DefenceScreen/CharacterStatsWindow/CharacterInfoPanel.prefab
  Assets/MenuUi/Prefabs/DefenceScreen/CharacterStatsWindow/StatPanel.prefab
  Assets/MenuUi/Prefabs/Windows/DefenceScreen/DefenceView.prefab
  Assets/MenuUi/Scripts/DefenceScreen/CharacterGallery/CharacterSlot.cs
  Assets/MenuUi/Scripts/DefenceScreen/CharacterGallery/DefenceForceView.cs
  Assets/MenuUi/Scripts/DefenceScreen/CharacterGallery/GalleryCharacter.cs
  Assets/MenuUi/Scripts/DefenceScreen/CharacterGallery/GalleryView.cs
  Assets/MenuUi/Scripts/DefenceScreen/CharacterGallery/SelectedCharSlot.cs
  Assets/MenuUi/Scripts/DefenceScreen/CharacterStatsWindow/StatsPanel.cs
Labels: käyttöliittymä

#913 Battle/update - Battle Characters
  Assets/QuantumUser/Resources/Graphics/Player/BattlePlayer401Shield.png.meta
  Assets/QuantumUser/Resources/Graphics/Player/BattlePlayer404Shield.png.meta
  Assets/QuantumUser/Resources/Graphics/Player/BattlePlayerLocalIndicator.png
  Assets/QuantumUser/Resources/Graphics/Player/BattlePlayerLocalIndicator.png.meta
  Assets/QuantumUser/Resources/Prefabs/Player/BattlePlayer000Character(BaseAndTestCharacter).prefab
  Assets/QuantumUser/Resources/Prefabs/Player/BattlePlayer101Character.prefab
  Assets/QuantumUser/Resources/Prefabs/Player/BattlePlayer102Character.prefab
  Assets/QuantumUser/Resources/Prefabs/Player/BattlePlayer103Character.prefab
  Assets/QuantumUser/Resources/Prefabs/Player/BattlePlayer104Character.prefab
  Assets/QuantumUser/Resources/Prefabs/Player/BattlePlayer201Character.prefab
  Assets/QuantumUser/Resources/Prefabs/Player/BattlePlayer204Character.prefab
  Assets/QuantumUser/Resources/Prefabs/Player/BattlePlayer400Character(BaseAndTestCharacter).prefab
  Assets/QuantumUser/Resources/Prefabs/Player/BattlePlayer401Character.prefab
  Assets/QuantumUser/Resources/Prefabs/Player/BattlePlayer501Character.prefab
  Assets/QuantumUser/Resources/Prefabs/Player/BattlePlayer502Character.prefab
  Assets/QuantumUser/Resources/Prefabs/Player/BattlePlayer702Character.prefab
  Assets/QuantumUser/Resources/Prefabs/Player/BattlePlayer703Character.prefab
Labels: Battle

#914 Battle/update - Character Frames
  Assets/Altzone/Resources/Prefabs/BattleUiShared/BattleUiPlayerInfoLoadingScreen.prefab
  Assets/MenuUi/Graphics/LobbyGraphics/BattlePlayerWindow100.png.meta
  Assets/MenuUi/Graphics/LobbyGraphics/BattlePlayerWindow200.png.meta
  Assets/MenuUi/Graphics/LobbyGraphics/BattlePlayerWindow300.png.meta
  Assets/MenuUi/Graphics/LobbyGraphics/BattlePlayerWindow400.png.meta
  Assets/MenuUi/Graphics/LobbyGraphics/BattlePlayerWindow500.png.meta
  Assets/MenuUi/Graphics/LobbyGraphics/BattlePlayerWindow600.png.meta
  Assets/MenuUi/Graphics/LobbyGraphics/BattlePlayerWindow700.png.meta
  Assets/QuantumUser/Resources/Prefabs/Ui/BattleUi.prefab
  Assets/QuantumUser/View/Battle/Scripts/Game/BattleGameViewController.cs
  Assets/QuantumUser/View/Battle/Scripts/UI/BattleUiCharacterFrameComponent.cs
  Assets/QuantumUser/View/Battle/Scripts/UI/BattleUiCharacterFrameComponent.cs.meta
  Assets/QuantumUser/View/Battle/Scripts/UI/BattleUiLoadScreenHandler.cs
  Assets/QuantumUser/View/Battle/Scripts/UI/BattleUiPlayerInfoComponent.cs
  Assets/QuantumUser/View/Battle/Scripts/UI/BattleUiPlayerInfoHandler.cs
Labels: Quantum, Battle, UI/UX

#915 Battle/update - Damage Disable
  Assets/Altzone/Scripts/Model/Poco/Game/Characters/BaseCharacter.cs
  Assets/QuantumUser/Simulation/Battle/Scripts/Player/BattlePlayerQSystem.cs
Labels: Quantum, Battle

#883 Removed activity leaderboard and moved global leaderboard to separate window
  Assets/Altzone/Scripts/Reference Sheets/AvatarDefaultReference.cs
  Assets/MenuUi/Graphics/DailyQuestGraphics/DailyTaskSocialDesicionMaking.png.meta
  Assets/MenuUi/Prefabs/DefenceScreen/CharacterStatsWindow/CharacterInfoPanel.prefab
  Assets/MenuUi/Prefabs/Leaderboard/LeaderboardClanPointsItem.prefab
  Assets/MenuUi/Prefabs/Leaderboard/LeaderboardPlayerActivityItem.prefab
  Assets/MenuUi/Prefabs/Leaderboard/LeaderboardPlayerWinsItem.prefab
  Assets/MenuUi/Prefabs/Panels/MainMenuViewSwipe.prefab
  Assets/MenuUi/Prefabs/Panels/UIOverlayPanel.prefab
  Assets/MenuUi/Prefabs/UI Components/FriendlistPanel.prefab
  Assets/MenuUi/Prefabs/UI Components/FriendlistPanel.prefab.meta
  Assets/MenuUi/Prefabs/Windows/DefenceScreen/CharacterStatsWindowView.prefab
  Assets/MenuUi/Prefabs/Windows/DefenceScreen/DefenceView.prefab
  Assets/MenuUi/Prefabs/Windows/HomeScreen/KotiView.prefab
  Assets/MenuUi/Prefabs/Windows/PlayerStats/LeaderboardView.prefab
  Assets/MenuUi/Prefabs/Windows/Startup/LogInView.prefab
  Assets/MenuUi/Prefabs/Windows/Testing.prefab
  Assets/MenuUi/Scripts/Clan/ClanHeartColorSetter.cs
  Assets/MenuUi/Scripts/Leaderboard/LeaderboardPodium.cs
  Assets/MenuUi/Scripts/Leaderboard/LeaderboardView.cs
  Assets/MenuUi/Scripts/Leaderboard/LeaderboardWinsItem.cs
  Assets/MenuUi/Scripts/MainMenu/Friendlist.meta
  Assets/MenuUi/Scripts/MainMenu/Friendlist/FriendlistHandler.cs
  Assets/MenuUi/Scripts/MainMenu/Friendlist/FriendlistHandler.cs.meta
  Assets/MenuUi/Scripts/MainMenu/Friendlist/FriendlistItem.prefab
  Assets/MenuUi/Scripts/MainMenu/Friendlist/FriendlistItem.prefab.meta
  Assets/MenuUi/Scripts/MainMenu/Friendlist/FriendlistItemHandler.cs
  Assets/MenuUi/Scripts/MainMenu/Friendlist/FriendlistItemHandler.cs.meta
  Assets/MenuUi/Scripts/PlayerProfile/TabChangeHandler.cs
  Assets/Prg/Fonts/Roboto-Black ASCII Uppercase SDF.asset
  Assets/TextMesh Pro/Resources/Fonts & Materials/Work Sans/WorkSans-Regular SDF.asset
Labels: käyttöliittymä
