Repository Alt-Org/Altzone, pull requests merged in 2025-07, with the labels that each got.

#730 UI/backstory visuals character animations
  Assets/MenuUi/Prefabs/Windows/IntroStory/CharacterIntroduction.prefab
  Assets/MenuUi/Scripts/Loader/CharacterListElement.cs
  Assets/MenuUi/Scripts/Loader/CharacterListElement.cs.meta
  Assets/MenuUi/Scripts/Loader/CharacterPopupHandler.cs
  Assets/MenuUi/Scripts/Loader/CharacterPopupHandler.cs.meta
  Assets/MenuUi/Scripts/Loader/HahmonValinta.cs
Labels: käyttöliittymä

#762 UI/server manager/feature/new server calls
  Assets/Altzone/Resources/StorageFurnitureReference.asset
  Assets/Altzone/Resources/StorageFurnitureReference.asset.meta
  Assets/Altzone/Scripts/Model/Poco/Game/ServerPoll.cs
  Assets/Altzone/Scripts/Model/Poco/Game/ServerPoll.cs.meta
  Assets/Altzone/Scripts/Reference Sheets/StorageFurnitureReference.cs
  Assets/Altzone/Scripts/ServerManager.cs
  Assets/Altzone/Scripts/Voting/PollData.cs
  Assets/MenuUi/Scripts/Loader/GameLoader.cs
  Assets/MenuUi/Scripts/Voting/PollManager.cs
  Assets/MenuUi/Scripts/Window/DefaultWindow.cs
Labels: käyttöliittymä

#757 Finished polls are now moved to past polls window
  Assets/Altzone/Scripts/Voting/PollData.cs
  Assets/MenuUi/Graphics/ShopGraphics/Secondhand/SecondHandBorderTempBackToTheFuture.png
  Assets/MenuUi/Graphics/ShopGraphics/Secondhand/SecondHandBorderTempBackToTheFuture.png.meta
  Assets/MenuUi/Graphics/ShopGraphics/Secondhand/SecondHandBorderTempDistrict9.png
  Assets/MenuUi/Graphics/ShopGraphics/Secondhand/SecondHandBorderTempDistrict9.png.meta
  Assets/MenuUi/Graphics/ShopGraphics/Secondhand/SecondHandBorderTempDune.png
  Assets/MenuUi/Graphics/ShopGraphics/Secondhand/SecondHandBorderTempDune.png.meta
  Assets/MenuUi/Graphics/ShopGraphics/Secondhand/SecondHandBorderTempJaws.png
  Assets/MenuUi/Graphics/ShopGraphics/Secondhand/SecondHandBorderTempJaws.png.meta
  Assets/MenuUi/Graphics/ShopGraphics/Secondhand/SecondHandBorderTempParasite.png
  Assets/MenuUi/Graphics/ShopGraphics/Secondhand/SecondHandBorderTempParasite.png.meta
  Assets/MenuUi/Graphics/ShopGraphics/Secondhand/SecondHandBorderTempShining.png
  Assets/MenuUi/Graphics/ShopGraphics/Secondhand/SecondHandBorderTempShining.png.meta
  Assets/MenuUi/Graphics/ShopGraphics/Secondhand/SecondHandBorderTempSpaceOdessey.png
  Assets/MenuUi/Graphics/ShopGraphics/Secondhand/SecondHandBorderTempSpaceOdessey.png.meta
  Assets/MenuUi/Graphics/ShopGraphics/Secondhand/SecondHandBorderTempUp.png
  Assets/MenuUi/Graphics/ShopGraphics/Secondhand/SecondHandBorderTempUp.png.meta
  Assets/MenuUi/Graphics/ShopGraphics/Secondhand/SecondHandBorderTempWalle.png
  Assets/MenuUi/Graphics/ShopGraphics/Secondhand/SecondHandBorderTempWalle.png.meta
  Assets/MenuUi/Graphics/ShopGraphics/Secondhand/SecondHandBorderTempWorldwarZ.png
  Assets/MenuUi/Graphics/ShopGraphics/Secondhand/SecondHandBorderTempWorldwarZ.png.meta
  Assets/MenuUi/Graphics/ShopGraphics/Secondhand/SecondhandBorderGreed.png
  Assets/MenuUi/Graphics/ShopGraphics/Secondhand/SecondhandBorderGreed.png.meta
  Assets/MenuUi/Prefabs/Panels/MainMenuViewSwipe.prefab
  Assets/MenuUi/Prefabs/Voting/A_vote.prefab
  Assets/MenuUi/Prefabs/Voting/Votes_list.prefab
  Assets/MenuUi/Prefabs/Windows/ClanStall/ItemMover.cs
  Assets/MenuUi/Prefabs/Windows/ClanStall/KojuFurnitureData.cs
  Assets/MenuUi/Prefabs/Windows/ClanStall/KojuTrayPopulator.cs
  Assets/MenuUi/Prefabs/Windows/InventoryScreen/VarastoView.prefab
  Assets/MenuUi/Scripts/PlayerProfile/TabChangeHandler.cs
  Assets/MenuUi/Scripts/Varasto/InvFront.cs
  Assets/MenuUi/Scripts/Varasto/VarastoTabChangeHandler.cs
  Assets/MenuUi/Scripts/Varasto/VarastoTabChangeHandler.cs.meta
  Assets/MenuUi/Scripts/Voting/AddPlayerHeads.cs
  Assets/MenuUi/Scripts/Voting/PastPollManager.cs
  Assets/MenuUi/Scripts/Voting/PastPollManager.cs.meta
  Assets/MenuUi/Scripts/Voting/PollManager.cs
  Assets/MenuUi/Scripts/Voting/PollMonitor.cs
  Assets/MenuUi/Scripts/Voting/PollMonitor.cs.meta
  Assets/MenuUi/Scripts/Voting/PollObject.cs
  Assets/MenuUi/Scripts/Voting/PollPopup.cs
  Assets/MenuUi/Scripts/Voting/VoteManager.cs
Labels: käyttöliittymä

#756 Added CI / CD pipeline for WEbGL and Android builds
  .github/workflows/builder.yml
  Assets/QuantumUser/Resources/Audio/Music/BattleArenaBackgroundMusic2V1.1MasterLoop (1).flac.meta
Labels: github

#766 Player info preview before battle and small visuals update in battle popup
  Assets/MenuUi/Graphics/BattleStartGraphics/BattleStartBlueSword.png.meta
  Assets/MenuUi/Graphics/BattleStartGraphics/BattleStartRedSword.png.meta
  Assets/MenuUi/Graphics/BattleStartGraphics/BattleStartStoneCharacters.png.meta
  Assets/MenuUi/Prefabs/UI Components/Battle Popup.prefab
  Assets/MenuUi/Prefabs/UI Components/Battle Popup/BattlePopupSelectedCharacter.prefab
  Assets/MenuUi/Prefabs/Windows/BattleStory/BattleStart.prefab
  Assets/MenuUi/Prefabs/Windows/BattleStory/BattleStartHandler.cs
  Assets/MenuUi/Scripts/Lobby/SelectedCharacters/BattlePopupCharacterSlotController.cs
  Assets/MenuUi/Scripts/Lobby/SelectedCharacters/BattlePopupSelectedCharacter.cs
Labels: käyttöliittymä

#768 Battle/feature - Character Swapping
  Assets/Altzone/Scripts/BattleUiShared/OnPointerDownButton.cs
  Assets/Altzone/Scripts/BattleUiShared/OnPointerDownButton.cs.meta
  Assets/Prg/Scripts/Common/Unity/Input/ClickStateHandler.cs
  Assets/QuantumUser/Resources/Prefabs/Ui/BattleUi.prefab
  Assets/QuantumUser/Scenes/31-QuantumBattle.unity
  Assets/QuantumUser/Simulation/Battle/Qtn/Player/BattlePlayerInput.qtn
  Assets/QuantumUser/Simulation/Battle/Scripts/Player/BattlePlayerManager.cs
  Assets/QuantumUser/Simulation/Battle/Scripts/Player/BattlePlayerQSystem.cs
  Assets/QuantumUser/Simulation/Generated/Quantum.CodeGen.Core.cs
  Assets/QuantumUser/Simulation/Generated/Quantum.CodeGen.Prototypes.cs
  Assets/QuantumUser/View/Battle/Scripts/Game/BattleGameViewController.cs
  Assets/QuantumUser/View/Battle/Scripts/Player/BattlePlayerInput.cs
  Assets/QuantumUser/View/Battle/Scripts/UI/BattleUiCharacterButtonComponent.cs
  Assets/QuantumUser/View/Battle/Scripts/UI/BattleUiPlayerInfoHandler.cs
Labels: Quantum, battle

#771 Battle/fix - Out of play positions
  Assets/QuantumUser/Resources/QuantumMap.asset
  Assets/QuantumUser/Simulation/Battle/Scripts/Player/BattlePlayerManager.cs
Labels: Quantum, battle

#776 Battle/feature - Character Health
  Assets/QuantumUser/Resources/Prefabs/Player/BattlePlayer000Character(BaseAndTestCharacter).prefab
  Assets/QuantumUser/Scenes/31-QuantumBattle.unity
  Assets/QuantumUser/Simulation/Battle/Qtn/Game/BattleCollisionTrigger.qtn
  Assets/QuantumUser/Simulation/Battle/Qtn/Game/BattleEvents.qtn
  Assets/QuantumUser/Simulation/Battle/Qtn/Game/BattleSignals.qtn
  Assets/QuantumUser/Simulation/Battle/Qtn/Player/BattlePlayerData.qtn
  Assets/QuantumUser/Simulation/Battle/Scripts/Game/BattleCollisionQSystem.cs
  Assets/QuantumUser/Simulation/Battle/Scripts/Player/BattlePlayerManager.cs
  Assets/QuantumUser/Simulation/Battle/Scripts/Player/BattlePlayerQSystem.cs
  Assets/QuantumUser/Simulation/Battle/Scripts/Projectile/BattleProjectileQSystem.cs
  Assets/QuantumUser/Simulation/Generated/Quantum.CodeGen.Core.cs
  Assets/QuantumUser/Simulation/Generated/Quantum.CodeGen.Events.cs
  Assets/QuantumUser/Simulation/Generated/Quantum.CodeGen.Prototypes.cs
  Assets/QuantumUser/View/Battle/Scripts/Game/BattleGameViewController.cs
  Assets/QuantumUser/View/Battle/Scripts/Player/BattlePlayerViewController.cs
  Assets/QuantumUser/View/Battle/Scripts/UI/BattleUiCharacterButtonComponent.cs
  Assets/QuantumUser/View/Battle/Scripts/UI/BattleUiPlayerInfoHandler.cs
  Assets/QuantumUser/View/Generated/Quantum.CodeGen.UnityPrototypeAdapters.cs
Labels: Quantum, battle
