Repository Alt-Org/Altzone, pull requests merged in 2025-08, with the labels that each got.

#779 Battle/refactor - Player Input Structs
  Assets/QuantumUser/View/Battle/Scripts/Player/BattlePlayerInput.cs
Labels: Quantum, battle

#784 add correct CI builds versioning
  .github/workflows/builder.yml
Labels: bug

#785 Update SettingsView prefab with new UI layout
  Assets/MenuUi/Prefabs/Windows/Settings/SettingsView.prefab
  ProjectSettings/ProjectSettings.asset
Labels: käyttöliittymä

#787 Battle/fix - Remove placeholder teammate player info
  Assets/QuantumUser/View/Battle/Scripts/Game/BattleGameViewController.cs
  Assets/QuantumUser/View/Battle/Scripts/UI/BattleUiPlayerInfoHandler.cs
Labels: battle

#789 Battle/feature - Character Classes
  Assets/QuantumUser/Simulation/Battle/Qtn/Player/BattlePlayerCharacterClass.qtn
  Assets/QuantumUser/Simulation/Battle/Qtn/Player/BattlePlayerCharacterClass.qtn.meta
  Assets/QuantumUser/Simulation/Battle/Qtn/Player/BattlePlayerData.qtn
  Assets/QuantumUser/Simulation/Battle/Qtn/Player/PlayerClasses.meta
  Assets/QuantumUser/Simulation/Battle/Qtn/Player/PlayerClasses/BattlePlayerClassDesensitizerData.qtn
  Assets/QuantumUser/Simulation/Battle/Qtn/Player/PlayerClasses/BattlePlayerClassDesensitizerData.qtn.meta
  Assets/QuantumUser/Simulation/Battle/Scripts/Player/BattlePlayerClassManager.cs
  Assets/QuantumUser/Simulation/Battle/Scripts/Player/BattlePlayerClassManager.cs.meta
  Assets/QuantumUser/Simulation/Battle/Scripts/Player/BattlePlayerManager.cs
  Assets/QuantumUser/Simulation/Battle/Scripts/Player/BattlePlayerQSystem.cs
  Assets/QuantumUser/Simulation/Battle/Scripts/Player/PlayerClasses.meta
  Assets/QuantumUser/Simulation/Battle/Scripts/Player/PlayerClasses/BattlePlayerClassDesensitizer.cs
  Assets/QuantumUser/Simulation/Battle/Scripts/Player/PlayerClasses/BattlePlayerClassDesensitizer.cs.meta
  Assets/QuantumUser/Simulation/Generated/Quantum.CodeGen.Core.cs
  Assets/QuantumUser/Simulation/Generated/Quantum.CodeGen.Prototypes.cs
  Assets/QuantumUser/View/Generated/QPrototypeBattlePlayerClassDesensitizerDataQComponent.cs
  Assets/QuantumUser/View/Generated/QPrototypeBattlePlayerClassDesensitizerDataQComponent.cs.meta
  Assets/QuantumUser/View/Generated/Quantum.CodeGen.UnityPrototypeAdapters.cs
Labels: Quantum, battle

#791 Battle/feature - Auto pick next character
  Assets/QuantumUser/Resources/QuantumMap.asset
  Assets/QuantumUser/Simulation/Battle/Qtn/Player/BattlePlayerCharacterState.qtn
  Assets/QuantumUser/Simulation/Battle/Qtn/Player/BattlePlayerCharacterState.qtn.meta
  Assets/QuantumUser/Simulation/Battle/Qtn/Player/BattlePlayerManagerData.qtn
  Assets/QuantumUser/Simulation/Battle/Scripts/Player/BattlePlayerClassManager.cs
  Assets/QuantumUser/Simulation/Battle/Scripts/Player/BattlePlayerManager.cs
  Assets/QuantumUser/Simulation/Battle/Scripts/Player/BattlePlayerQSystem.cs
  Assets/QuantumUser/Simulation/Battle/Scripts/Projectile/BattleProjectileQSystem.cs
  Assets/QuantumUser/Simulation/Generated/Quantum.CodeGen.Core.cs
  Assets/QuantumUser/Simulation/Generated/Quantum.CodeGen.Prototypes.cs
  Assets/QuantumUser/View/Generated/Quantum.CodeGen.UnityPrototypeAdapters.cs
Labels: Quantum, battle
